name: Deploy Theme to OJS via FTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  web-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Get latest code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Важливо: дозволяє бачити історію змін для точного визначення оновлених файлів

      - name: Sync files via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # Змінюємо на корінь репозиторію, щоб бачити всі файли (templates, index.php тощо)
          local-dir: ./ 
          # Вказуємо повний шлях до папки теми на вашому хостингу
          server-dir: plugins/themes/acfsmodern/
          # (Опціонально) Виключаємо файли GitHub та ліцензії, щоб вони не займали місце на сервері
          exclude: |
            **/.git*
            **/.github**
            LICENSE
            README.md
